.link-btn {
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
        background-color: #2255DE;
    }
}

.link-btn--reversed {
    background-color: #2255DE;
    &:hover {
        background-color: black;
    }
}